In [1]:
#import essential libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
#loading a csv file

In [4]:
df = pd.read_csv("corona.csv")

In [5]:
# Checking the data using head function

In [6]:
df.head()

     fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  103.106         0   25          0           1              0
1   99.759         1   28          1           0              0
2  100.346         1   36          0           0              0
3  101.723         1   76          0           0              1
4   98.127         1   40          0           1              1

In [7]:
df.shape

(2500, 6)

In [8]:
# Checking the data using tail function

In [9]:
df.tail()

       fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2495  96.168         0   39          0           0              0
2496  98.641         1   27          0           0              0
2497  97.023         0   29          1           0              1
2498  99.500         0   52          1          -1              0
2499  95.003         1   39          1           1              1

In [10]:
#print the full summary

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2500 non-null   float64
 1   bodyPain       2500 non-null   int64
 2   age            2500 non-null   int64
 3   runnyNose      2500 non-null   int64
 4   diffBreath     2500 non-null   int64
 5   infectionProb  2500 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 117.3 KB

In [12]:
#find the unique values in the infectionProb

In [13]:
df['infectionProb'].value_counts()

0    1265
1    1235
Name: infectionProb, dtype: int64

In [14]:
#describe method

In [15]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,98.395641,0.483600,49.584400,0.508800,0.008800,0.494000
std,3.159012,0.499831,17.352536,0.500023,0.825224,0.500064
min,93.013000,0.000000,20.000000,0.000000,-1.000000,0.000000
25%,95.659500,0.000000,35.000000,0.000000,-1.000000,0.000000
50%,98.377000,0.000000,50.000000,1.000000,0.000000,0.000000
75%,101.081750,1.000000,64.000000,1.000000,1.000000,1.000000
max,103.999000,1.000000,79.000000,1.000000,1.000000,1.000000

In [16]:
#Train Test splitting function

In [17]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [18]:
np.random.permutation(7)

array([6, 1, 5, 0, 4, 2, 3])

In [19]:
train,test = data_split(df,0.3)

In [20]:
train

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1552   93.551         1   29          0          -1              0
2290   95.243         1   65          0           1              1
1398   96.568         0   74          0           1              1
1775  103.446         1   72          1           1              0
2299   95.312         1   62          0           0              0
...       ...       ...  ...        ...         ...            ...
1638  102.919         0   73          0           0              0
1095   98.491         0   56          0          -1              1
1130   95.472         0   33          1           1              1
1294  101.461         0   26          1          -1              1
860   102.465         0   20          1          -1              1

[1750 rows x 6 columns]

In [21]:
test

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1447  101.172         0   75          0          -1              1
1114  103.164         1   46          0           0              1
1064   97.395         0   62          1          -1              0
2287   94.041         1   48          0           0              0
1537   93.133         0   35          1          -1              0
...       ...       ...  ...        ...         ...            ...
427   101.279         0   20          1           1              1
105    93.509         1   62          0          -1              0
2044  101.918         0   59          0           1              0
121    98.564         0   48          1           0              1
821    94.616         1   59          0           0              0

[750 rows x 6 columns]

In [22]:
#independent variables for X_train and X_test

In [23]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [24]:
#dependent variables for y_train and y_test

In [25]:
y_train = train[['infectionProb']].to_numpy().reshape(1750 ,)
y_test = test[['infectionProb']].to_numpy().reshape(750 ,)

In [26]:
y_train

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [27]:
#importing a Logistic Regression model

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
#Creating/Fitting a Logistic Regression model

In [30]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
#predict a model

In [32]:
infProb = clf.predict_proba([[100,1,22,1,1]])[0][1]

In [33]:
infProb

0.5371566573519846